<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <context:annotation-config/>

    <!--
    1、配置白名单，只扫描controller层bean，其他交给spring.xml初始化
    2、component-scan：黑白名单默认过滤
    只配置黑名单（exclude-filter）：黑名单内的bean不被初始化，其他的均被初始化
    只配置白名单（include-filter）：默认：：：白名单内的bean初始化，既不在白名单也不在黑明单的bean也会被初始化
    3、要想把component-scan默认过滤关闭，只初始化白名单中的bean，需配置use-default-filters="false"

    注意这个大坑特坑
    https://blog.csdn.net/u013578042/article/details/104650316
 -->
    <!-- 默认扫描路径 use-default-filters=true 默认的时候会加载Component等注解 -->
    <context:component-scan base-package="com.leon.**" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
       <!-- <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>-->
        <!-- 排除 Service -->
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>-->
    </context:component-scan>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>

    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>

    <!-- 配置返回视图的路径，以及识别后缀是jsp文件 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>